/*style sheet for homework 5*/
/*TriviaGame Assignment 5 - Louise K Miller*/
*,
 *:before,
 *:after {
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }



.skyline {
	background-image: url(..//images/austinSkyline.jpg);
	background-size: 100% 200px;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.main {
	color: white;
	text-align: center;
	margin: 0 auto;
 	width: 100%;
 	max-width: 1400px;
	padding: 20px 50px;
}


/*===================================================
Timer
===================================================
*/

#timer {
  color: #fff;
  font-size: 60px;
  font-family: monospace;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

/*===================================================
Typography and Buttons
===================================================
*/
body {
	font-family: Verdana, Geneva, sans-serif;
}

p {
	font-size: 25px;
	margin-bottom: 6px;
}


h1	{
	margin-top: 30px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 45px;
	font-weight: 900;
	text-align: center;
	color:#fff;
	text-shadow:#616161 4px 4px 0;
}


h2, .answers {
	display: block;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 8px;
	background-color: #314993;
	color:#fff;
}

h3 {
	font-size: 20px;
	line-height: 25px;
}


#startButton {
	margin-top: 100px;
	font-size: 30px;
	line-height: 40px;
}


/* Border Fade */
.makeFade {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
 
}
.makeFade:hover, .makeFade:focus, .makeFade:active {
  box-shadow: inset 0 0 0 4px #2098d1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}


/*===================================================
Sticky Footer
===================================================
*/
* {
	margin: 0;
}

html, body {
	height: 100%;
	background-color: #314993;
}

.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -20px;
}

.page-wrap:after {
	content: "";
	display: block;
}

.site-footer, .page-wrap:after {
	height: 20px;
	color: #fff;
}


.site-footer {

	line-height: 15px;
	font-size: 13px;
	text-align: center;
}